:root {
  /** colors */
  --color-name: custom;
  --color-bg-shade: #13131E;
  --color-bg-base: #000000;
  --color-bg-surface: #171516;
  --color-bg-highlight: #7486b5;
  --color-fg-shade: #CCCCCC;
  --color-fg-base: #7486b5;
  --color-fg-surface: #afabb6;
  --color-fg-highlight: #FFFFFF;
  --color-primary-bg: #7486b5;
  --color-primary-base: #7486b5;
  --color-primary-fg: #afabb6;
  --color-secondary-bg: #424d68;
  --color-secondary-base: #1E1E2E;
  --color-secondary-fg: #7486b5;
  --color-palette-red: #E06C75;
  --color-palette-green: #98C379;
  --color-palette-yellow: #E5C07B;
  --color-palette-blue: #61AFEF;
  --color-palette-purple: #C678DD;
  --color-palette-cyan: #56B6C2;
  --color-palette-orange: #FFBB7C;
  
  /** general */
  --font-family: JetBrains Mono;
  --font-size: 0.8;
  --display-image: block;

  /** surface */
  --surface-maxWidth: 1280px;
  --surface-shadow: 6px 6px 0px rgb(116, 134, 181), 12px 12px 0px rgb(99.33333333333333, 115, 155.33333333333334), 18px 18px 0px rgb(82.66666666666666, 96, 129.66666666666666), 24px 24px 0px rgb(66, 77, 104);
  --surface-borderRadius: 0px;

  /** spacing */
  --space-smallest: 0.125rem;
  --space-small: 0.5rem;
  --space-medium: 1rem;
  --space-large: 1.5rem;
  --space-largest: 3rem;

  /** others */
  --picture-size: 300px;
  --group-count: 6;
}
