:root {
  /** colors */
  --color-name: custom;
  --color-bg-shade: #15161E;
  --color-bg-base: #1a1a1a;
  --color-bg-surface: #16161f;
  --color-bg-highlight: #242635;
  --color-fg-shade: #CCCCCC;
  --color-fg-base: #a4133c;
  --color-fg-surface: #FFFFFF;
  --color-fg-highlight: #FFFFFF;
  --color-primary-bg: #32eaf4;
  --color-primary-base: #1b1d2b;
  --color-primary-fg: #35394A;
  --color-secondary-bg: #22a0a7;
  --color-secondary-base: #1b1d2b;
  --color-secondary-fg: #4fd6be;
  --color-palette-red: #E06C75;
  --color-palette-green: #98C379;
  --color-palette-yellow: #E5C07B;
  --color-palette-blue: #61AFEF;
  --color-palette-purple: #C678DD;
  --color-palette-cyan: #56B6C2;
  --color-palette-orange: #FFBB7C;
  
  /** general */
  --font-family: Shippori Antique;
  --font-size: 0.9;
  --display-image: block;

  /** surface */
  --surface-maxWidth: 1010px;
  --surface-shadow: 9px 9px 0px rgb(50, 234, 244), 18px 18px 0px rgb(44.666666666666664, 209.33333333333334, 218.33333333333334), 27px 27px 0px rgb(39.333333333333336, 184.66666666666666, 192.66666666666666), 36px 36px 0px rgb(34, 160, 167);
  --surface-borderRadius: 26px;

  /** spacing */
  --space-smallest: 0.125rem;
  --space-small: 0.5rem;
  --space-medium: 1rem;
  --space-large: 1.5rem;
  --space-largest: 3rem;

  /** others */
  --picture-size: 300px;
  --group-count: 6;
}
