:root {
  /** colors */
  --color-name: custom;
  --color-bg-shade: #13131E;
  --color-bg-base: #595463;
  --color-bg-surface: #211e1e;
  --color-bg-highlight: #222234;
  --color-fg-shade: #CCCCCC;
  --color-fg-base: #FFFFFF;
  --color-fg-surface: #9b9b9d;
  --color-fg-highlight: #FFFFFF;
  --color-primary-bg: #232631;
  --color-primary-base: #232631;
  --color-primary-fg: #FFFFFF;
  --color-secondary-bg: #59617d;
  --color-secondary-base: #1E1E2E;
  --color-secondary-fg: #a00d0d;
  --color-palette-red: #E06C75;
  --color-palette-green: #98C379;
  --color-palette-yellow: #E5C07B;
  --color-palette-blue: #61AFEF;
  --color-palette-purple: #C678DD;
  --color-palette-cyan: #56B6C2;
  --color-palette-orange: #FFBB7C;
  
  /** general */
  --font-family: Shippori Antique;
  --font-size: 0.9;
  --display-image: block;

  /** surface */
  --surface-maxWidth: 1010px;
  --surface-shadow: 9px 9px 0px rgb(35, 38, 49), 18px 18px 0px rgb(53, 57.66666666666667, 74.33333333333333), 27px 27px 0px rgb(71, 77.33333333333334, 99.66666666666666), 36px 36px 0px rgb(89, 97, 125);
  --surface-borderRadius: 26px;

  /** spacing */
  --space-smallest: 0.125rem;
  --space-small: 0.5rem;
  --space-medium: 1rem;
  --space-large: 1.5rem;
  --space-largest: 3rem;

  /** others */
  --picture-size: 300px;
  --group-count: 6;
}
