:root {
  /** colors */
  --color-name: custom;
  --color-bg-shade: #13131E;
  --color-bg-base: #24273a;
  --color-bg-surface: #181926;
  --color-bg-highlight: #222234;
  --color-fg-shade: #CCCCCC;
  --color-fg-base: #FFFFFF;
  --color-fg-surface: #bac2de;
  --color-fg-highlight: #FFFFFF;
  --color-primary-bg: #b4befe;
  --color-primary-base: #6e738d;
  --color-primary-fg: #FFFFFF;
  --color-secondary-bg: #0F0F17;
  --color-secondary-base: #1E1E2E;
  --color-secondary-fg: #b4befe;
  --color-palette-red: #E06C75;
  --color-palette-green: #98C379;
  --color-palette-yellow: #E5C07B;
  --color-palette-blue: #61AFEF;
  --color-palette-purple: #C678DD;
  --color-palette-cyan: #56B6C2;
  --color-palette-orange: #FFBB7C;
  
  /** general */
  --font-family: JetBrains Mono;
  --font-size: 0.8;
  --display-image: block;

  /** surface */
  --surface-maxWidth: 1190px;
  --surface-shadow: 9px 9px 0px rgb(180, 190, 254), 18px 18px 0px rgb(125, 131.66666666666666, 177), 27px 27px 0px rgb(70, 73.33333333333333, 100), 36px 36px 0px rgb(15, 15, 23);
  --surface-borderRadius: 26px;

  /** spacing */
  --space-smallest: 0.125rem;
  --space-small: 0.5rem;
  --space-medium: 1rem;
  --space-large: 1.5rem;
  --space-largest: 3rem;

  /** others */
  --picture-size: 300px;
  --group-count: 6;
}
