:root {
  /** colors */
  --color-name: custom;
  --color-bg-shade: #15161E;
  --color-bg-base: #222436;
  --color-bg-surface: #2f334d;
  --color-bg-highlight: #242635;
  --color-fg-shade: #CCCCCC;
  --color-fg-base: #FFFFFF;
  --color-fg-surface: #FFFFFF;
  --color-fg-highlight: #FFFFFF;
  --color-primary-bg: #1b1d2b;
  --color-primary-base: #1b1d2b;
  --color-primary-fg: #35394A;
  --color-secondary-bg: #1b1d2b;
  --color-secondary-base: #1b1d2b;
  --color-secondary-fg: #4fd6be;
  --color-palette-red: #E06C75;
  --color-palette-green: #98C379;
  --color-palette-yellow: #E5C07B;
  --color-palette-blue: #61AFEF;
  --color-palette-purple: #C678DD;
  --color-palette-cyan: #56B6C2;
  --color-palette-orange: #FFBB7C;
  
  /** general */
  --font-family: Shippori Antique;
  --font-size: 0.9;
  --display-image: block;

  /** surface */
  --surface-maxWidth: 1010px;
  --surface-shadow: 9px 9px 0px rgb(27, 29, 43), 18px 18px 0px rgb(27, 29, 43), 27px 27px 0px rgb(27, 29, 43), 36px 36px 0px rgb(27, 29, 43);
  --surface-borderRadius: 26px;

  /** spacing */
  --space-smallest: 0.125rem;
  --space-small: 0.5rem;
  --space-medium: 1rem;
  --space-large: 1.5rem;
  --space-largest: 3rem;

  /** others */
  --picture-size: 300px;
  --group-count: 6;
}
